<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Schronisko dla zwierząt</title>
    <link rel="stylesheet" href="regStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bckgd">
<h1 class="headerName">Schronisko dla zwierząt</h1><br/>

<div style="position: relative;  left: 30px;">
    <li th:each="animal: ${allAnimals}">
        <a th:href="'/animal?id=' + ${animal.getKey()}"  th:text="${animal.getValue().getName()} + ', ' + ${animal.getValue().getCategory()}"></a>
    </li>
<br/>
</div>

<form action="/new" method="get">
    <div class="fieldCustom">
        <label style="display: flex; align-self: center;"><b>Filtruj po:</b></label>
        <select class="custom-select" style="width: 150px; display: flex; align-self: center;" name="searchCategory">
            <option class="defaultCategory" value="" selected data-default>Wybierz...</option>
            <option value="Pies">Pies</option>
            <option value="Kot">Kot</option>
            <option value="Mysz">Mysz</option>
        </select><br/><br/>
        <input class="btn btn-primary" style="width: 70px; display: flex; align-self: center;" type="submit" value="Filtruj" />
    </div>
</form>

<hr/>
<form>
    <button class="btn btn-primary" style="position: relative; left: 20px;" type="submit" formaction="/addAnimalForm">Dodaj zwierzaka</button>
</form>
</body>
</html>